modify:
{
	match:
	{
		"targetname" "d_p1"
		"classname" "func_movelinear"
	}
	insert:
	{
		"OnFullyOpen" "d_meteor_detecttriggerkill1601"
          
	}
}

modify:
{
	match:
	{
		"targetname" "escape_beam_hurt1"
		"classname" "trigger_hurt"
	}
	insert:
	{
                "OnStartTouch" "speedModifySpeed0.20.21"
		"OnStartTouch" "speedModifySpeed0.20.41"
                "OnStartTouch" "speedModifySpeed0.20.61"
                "OnStartTouch" "speedModifySpeed0.20.81"
                "OnStartTouch" "speedModifySpeed0.21.01"
		"OnStartTouch" "speedModifySpeed0.21.21"
		"OnStartTouch" "speedModifySpeed0.21.41"
                "OnStartTouch" "speedModifySpeed0.21.61"
                "OnStartTouch" "speedModifySpeed0.21.81"
                "OnStartTouch" "speedModifySpeed0.22.01"
		"OnStartTouch" "speedModifySpeed0.22.21"
		"OnStartTouch" "speedModifySpeed0.22.41"
                "OnStartTouch" "speedModifySpeed0.22.61"
                "OnStartTouch" "speedModifySpeed0.22.81"
                "OnStartTouch" "speedModifySpeed0.23.01"
		"OnStartTouch" "speedModifySpeed0.23.21"
		"OnStartTouch" "speedModifySpeed0.23.41"
                "OnStartTouch" "speedModifySpeed0.23.61"
                "OnStartTouch" "speedModifySpeed0.23.81"
                "OnStartTouch" "speedModifySpeed14.01"
	}
}

modify:
{
	match:
	{
		"targetname" "escape_beam_hurt2"
		"classname" "trigger_hurt"
	}
	insert:
	{
                "OnStartTouch" "speedModifySpeed0.20.21"
		"OnStartTouch" "speedModifySpeed0.20.41"
                "OnStartTouch" "speedModifySpeed0.20.61"
                "OnStartTouch" "speedModifySpeed0.20.81"
                "OnStartTouch" "speedModifySpeed0.21.01"
		"OnStartTouch" "speedModifySpeed0.21.21"
		"OnStartTouch" "speedModifySpeed0.21.41"
                "OnStartTouch" "speedModifySpeed0.21.61"
                "OnStartTouch" "speedModifySpeed0.21.81"
                "OnStartTouch" "speedModifySpeed0.22.01"
		"OnStartTouch" "speedModifySpeed0.22.21"
		"OnStartTouch" "speedModifySpeed0.22.41"
                "OnStartTouch" "speedModifySpeed0.22.61"
                "OnStartTouch" "speedModifySpeed0.22.81"
                "OnStartTouch" "speedModifySpeed0.23.01"
		"OnStartTouch" "speedModifySpeed0.23.21"
		"OnStartTouch" "speedModifySpeed0.23.41"
                "OnStartTouch" "speedModifySpeed0.23.61"
                "OnStartTouch" "speedModifySpeed0.23.81"
                "OnStartTouch" "speedModifySpeed14.01"
	}
}

modify:
{
	match:
	{
		"targetname" "escape_beam_hurt3"
		"classname" "trigger_hurt"
	}
	insert:
	{
                "OnStartTouch" "speedModifySpeed0.20.21"
		"OnStartTouch" "speedModifySpeed0.20.41"
                "OnStartTouch" "speedModifySpeed0.20.61"
                "OnStartTouch" "speedModifySpeed0.20.81"
                "OnStartTouch" "speedModifySpeed0.21.01"
		"OnStartTouch" "speedModifySpeed0.21.21"
		"OnStartTouch" "speedModifySpeed0.21.41"
                "OnStartTouch" "speedModifySpeed0.21.61"
                "OnStartTouch" "speedModifySpeed0.21.81"
                "OnStartTouch" "speedModifySpeed0.22.01"
		"OnStartTouch" "speedModifySpeed0.22.21"
		"OnStartTouch" "speedModifySpeed0.22.41"
                "OnStartTouch" "speedModifySpeed0.22.61"
                "OnStartTouch" "speedModifySpeed0.22.81"
                "OnStartTouch" "speedModifySpeed0.23.01"
		"OnStartTouch" "speedModifySpeed0.23.21"
		"OnStartTouch" "speedModifySpeed0.23.41"
                "OnStartTouch" "speedModifySpeed0.23.61"
                "OnStartTouch" "speedModifySpeed0.23.81"
                "OnStartTouch" "speedModifySpeed14.01" 
	}
}


modify:
{
	match:
	{
		"targetname" "escape_beam_hurt4"
		"classname" "trigger_hurt"
	}
	insert:
	{
                "OnStartTouch" "speedModifySpeed0.20.21"
		"OnStartTouch" "speedModifySpeed0.20.41"
                "OnStartTouch" "speedModifySpeed0.20.61"
                "OnStartTouch" "speedModifySpeed0.20.81"
                "OnStartTouch" "speedModifySpeed0.21.01"
		"OnStartTouch" "speedModifySpeed0.21.21"
		"OnStartTouch" "speedModifySpeed0.21.41"
                "OnStartTouch" "speedModifySpeed0.21.61"
                "OnStartTouch" "speedModifySpeed0.21.81"
                "OnStartTouch" "speedModifySpeed0.22.01"
		"OnStartTouch" "speedModifySpeed0.22.21"
		"OnStartTouch" "speedModifySpeed0.22.41"
                "OnStartTouch" "speedModifySpeed0.22.61"
                "OnStartTouch" "speedModifySpeed0.22.81"
                "OnStartTouch" "speedModifySpeed0.23.01"
		"OnStartTouch" "speedModifySpeed0.23.21"
		"OnStartTouch" "speedModifySpeed0.23.41"
                "OnStartTouch" "speedModifySpeed0.23.61"
                "OnStartTouch" "speedModifySpeed0.23.81"
                "OnStartTouch" "speedModifySpeed14.01"
	}
}

modify:
{
	match:
	{
		"targetname" "cannon5_hurt1"
		"classname" "trigger_multiple"
       		"hammerid" "1258541"
	}
	insert:
	{
                "OnStartTouch" "speedModifySpeed00.2-1"
		"OnStartTouch" "speedModifySpeed00.4-1"
                "OnStartTouch" "speedModifySpeed00.6-1"
                "OnStartTouch" "speedModifySpeed00.8-1"
                "OnStartTouch" "speedModifySpeed01.0-1"
                "OnStartTouch" "speedModifySpeed01.2-1"
                "OnStartTouch" "speedModifySpeed01.4-1"
                "OnStartTouch" "speedModifySpeed01.6-1"
                "OnStartTouch" "speedModifySpeed01.8-1"
                "OnStartTouch" "speedModifySpeed02.0-1"
                "OnStartTouch" "speedModifySpeed02.2-1"
                "OnStartTouch" "speedModifySpeed02.4-1"
                "OnStartTouch" "speedModifySpeed02.6-1"
                "OnStartTouch" "speedModifySpeed02.8-1"
                "OnStartTouch" "speedModifySpeed03.0-1"
                "OnStartTouch" "speedModifySpeed03.2-1"
		 "OnStartTouch" "speedModifySpeed03.4-1"
                "OnStartTouch" "speedModifySpeed03.6-1"
                "OnStartTouch" "speedModifySpeed03.8-1"
                "OnStartTouch" "speedModifySpeed04.0-1"
                "OnStartTouch" "speedModifySpeed04.2-1"
                "OnStartTouch" "speedModifySpeed04.4-1"
                "OnStartTouch" "speedModifySpeed04.6-1"
                "OnStartTouch" "speedModifySpeed04.8-1"
                "OnStartTouch" "speedModifySpeed05.0-1"
                "OnStartTouch" "speedModifySpeed05.2-1"
                "OnStartTouch" "speedModifySpeed05.4-1"
                "OnStartTouch" "speedModifySpeed05.6-1"
                "OnStartTouch" "speedModifySpeed05.8-1"
                "OnStartTouch" "speedModifySpeed06.0-1"
                "OnStartTouch" "speedModifySpeed06.2-1"
                "OnStartTouch" "speedModifySpeed06.4-1"
                "OnStartTouch" "speedModifySpeed06.6-1"
                "OnStartTouch" "speedModifySpeed06.8-1"
                "OnStartTouch" "speedModifySpeed07.0-1"
                "OnStartTouch" "speedModifySpeed07.2-1"
                "OnStartTouch" "speedModifySpeed07.4-1"
                "OnStartTouch" "speedModifySpeed07.6-1"
                "OnStartTouch" "speedModifySpeed07.8-1"
                "OnStartTouch" "speedModifySpeed18.0-1"
	}
}

modify:
{
	match:
	{
		"targetname" "c_dodge_block_hurt1"
		"classname" "trigger_hurt"
	}
	insert:
	{
		"OnStartTouch" "speedModifySpeed0.20.1-1"
		 "OnStartTouch" "speedModifySpeed0.20.2-1"
		 "OnStartTouch" "speedModifySpeed0.20.3-1"
                "OnStartTouch" "speedModifySpeed0.20.4-1"
                "OnStartTouch" "speedModifySpeed0.20.5-1"
                "OnStartTouch" "speedModifySpeed0.20.6-1"
                "OnStartTouch" "speedModifySpeed0.20.7-1"
                "OnStartTouch" "speedModifySpeed0.20.8-1"
                "OnStartTouch" "speedModifySpeed0.20.9-1"
                "OnStartTouch" "speedModifySpeed0.21.0-1"
                "OnStartTouch" "speedModifySpeed0.21.1-1"
                "OnStartTouch" "speedModifySpeed0.21.2-1"
                "OnStartTouch" "speedModifySpeed0.21.3-1"
                "OnStartTouch" "speedModifySpeed0.21.4-1"
                "OnStartTouch" "speedModifySpeed0.21.5-1"
                "OnStartTouch" "speedModifySpeed0.21.6-1"
                "OnStartTouch" "speedModifySpeed0.21.7-1"
		"OnStartTouch" "speedModifySpeed0.21.8-1"
                "OnStartTouch" "speedModifySpeed0.21.9-1"
                "OnStartTouch" "speedModifySpeed0.22.0-1"
                "OnStartTouch" "speedModifySpeed0.22.1-1"
                "OnStartTouch" "speedModifySpeed0.22.2-1"
                "OnStartTouch" "speedModifySpeed0.22.3-1"
                "OnStartTouch" "speedModifySpeed0.22.4-1"
                "OnStartTouch" "speedModifySpeed0.22.5-1"
                "OnStartTouch" "speedModifySpeed0.22.6-1"
                "OnStartTouch" "speedModifySpeed0.22.7-1"
                "OnStartTouch" "speedModifySpeed0.22.8-1"
                "OnStartTouch" "speedModifySpeed0.22.9-1"
                "OnStartTouch" "speedModifySpeed0.23.0-1"
                "OnStartTouch" "speedModifySpeed0.23.1-1"
                "OnStartTouch" "speedModifySpeed0.23.2-1"
                "OnStartTouch" "speedModifySpeed0.23.3-1"
                "OnStartTouch" "speedModifySpeed0.23.4-1"
                "OnStartTouch" "speedModifySpeed0.23.5-1"
                "OnStartTouch" "speedModifySpeed0.23.6-1"
                "OnStartTouch" "speedModifySpeed0.23.7-1"
                "OnStartTouch" "speedModifySpeed0.23.8-1"
                "OnStartTouch" "speedModifySpeed0.23.9-1"
                "OnStartTouch" "speedModifySpeed14.0-1"
       	}
}

modify:
{
	match:
	{
		"targetname" "escape_laser_hurt1"
		"classname" "trigger_hurt"
	}
	replace:
	{
         	 "damagetype" "16384"      
	}
}

modify:
{
	match:
	{
		"blockdamage" "999999"
		"classname" "func_movelinear"
	}
	replace:
	{
		;"blockdamage" "10"
	}
}
